.personalInfo-container,
.address-container,
.passwordManager-container,
.logout-container,
.payment-container{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* .personalInfo-container */
.personalInfo-container .userImage{
  width: fit-content;
  position: relative;
}
.personalInfo-container .userImage img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.personalInfo-container .userImage .icon{
  height: 50px;
  width: 50px;
  color: white;
  background-color: #8B6441;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}