.sizeTable{
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.sizeTable div.outer{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.sizeTable div.active{
  border: 1px solid var(--font-color-two);
}
.sizeTable div div.inner{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  margin: 2px;
}