:root{
  --primary-color:#D8C3A5;
  --secondary-color:#EBE0D0;
  --third-color:#838383B2;
  --font-color-one:#B58A4D;
  --font-color-two:#4A3F35;
  --input-border-color:#7D7D7D;
  --input-placeholder-color:#9B9B9B;
}